#!/usr/bin/make -f
export DH_VIRTUALENV_INSTALL_ROOT=/opt

%:
	dh $@ --with python-virtualenv --buildsystem=pybuild

override_dh_virtualenv:
	dh_virtualenv --sourcedirectory=. --upgrade-pip --extra-pip-arg --no-cache-dir
